@tailwind base;
@tailwind components;
@tailwind utilities;

.nav::after{
  position: absolute;
  top: 0px;
  left: -20px;
  right: -15px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  border-left: white 2px solid;
  opacity: 15%;
}
.sol::before{
  position: absolute;
  top: 0px;
  left: -30px;
  right: -15px;
  bottom: 0px;
  height: 120px;
  margin: auto;
  border-left: gray 1px solid;
  opacity: 15%;
}
